.holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 80px;
  height: 80px;
}

.item-1 { background: red; }
.item-2 { background: blue; }
.item-3,
.item-4,
.item-5,
.item-6,
.item-7 { background: green; }